<div class="container__cadastro">
    <div class="header">
        <p><span>SOFTWARE</span> PAINEL TRANSPORTHOS</p>
    </div>

    <div class="container__item">
        <div class="item">
            <nav class="navbar">
                <div class="busca">
                    <input type="text" name="busca" id="busca" placeholder="Buscar">
                </div>
                <div class="crud">
                    <div class="acoes">
                        <img src="../../../assets/adicionar.png" alt="">
                        <p (click)="mostrarFormularioCadastro()">Adicionar</p>
                    </div>
                    <div class="acoes">
                        <img src="../../../assets/editar.png" alt="">
                        <p>Editar</p>
                    </div>
                    <div class="acoes">
                        <img src="../../../assets/remover.png" alt="">
                        <p>Remover</p>
                    </div>
                    <div class="acoes">
                        <img src="../../../assets/Finalizar.png" alt="">
                        <p>Finalizar</p>
                    </div>
                </div>
            </nav>
            <section class="cadastro_painel">
                <form *ngIf="formularioCadastroVisivel" (submit)="enviarCadastro()">
                    <!-- Campos de cadastro -->
                    <label>Data:</label>
                    <input type="text" name="data" class="input__data" [(ngModel)]="cadastro.data" appDateFormat>
                    <label>Hora:</label>
                    <input type="text" name="data" class="input__hora" [(ngModel)]="cadastro.hora">
                    <label>Cliente:</label>
                    <input type="text" name="data" [(ngModel)]="cadastro.cliente">
                    <label>Quantidade:</label>
                    <input type="text" name="data" [(ngModel)]="cadastro.qtd">
                    <label>DI:</label>
                    <input type="text" name="data" [(ngModel)]="cadastro.di">
                    <!-- Outros campos de cadastro aqui -->
                    <button type="submit">Enviar</button>
                </form>
            </section>
        </div>
    </div>

</div>