<div class="container__cadastro">
    <div class="header">
        <p><span>SOFTWARE</span> PAINEL TRANSPORTHOS</p>
    </div>

    <div class="container__item">
        <div class="item">
            <nav class="navbar">
                <div class="busca">
                    <input type="text" name="busca" id="busca" placeholder="Buscar">
                </div>
                <div class="crud">
                    <div class="acoes">
                        <img src="../../../assets/adicionar.png" alt="" >
                        <p>Adicionar</p>
                    </div>
                    <div class="acoes">
                        <img src="../../../assets/editar.png" alt="" >
                        <p>Editar</p>
                    </div>
                    <div class="acoes">
                        <img src="../../../assets/remover.png" alt="" >
                        <p>Remover</p>
                    </div>
                    <div class="acoes">
                        <img src="../../../assets/Finalizar.png" alt="">
                        <p>Finalizar</p>
                    </div>
                </div>
            </nav>
            <section class="cadastro_painel">
                
            </section>
        </div>
    </div>
   
</div>