<div class="painel__container">
    <div class="painel__title">
        <p>PAINEL <span class="trans">TRANSPORTHOS</span></p>
    </div>


    <div class="painel__table">
        <!-- <input type="text" [(ngModel)]="termoDeBusca" (input)="onInputChange()" placeholder="Pesquisar por nome"
            autofocus> -->

        <table>
            <thead>
                <tr class="painel-table__descricoes">
                    <th class="ref">DATA</th>
                    <th class="ref">HORA</th>
                    <th class="ref">CLIENTE</th>
                    <th class="ref">QUANTIDADE</th>
                    <th class="ref">PESO</th>
                    <th class="ref">PL CAVALO</th>
                    <th class="ref">PLCARRETA</th>
                    <th class="ref">MOTORISTA</th>
                    <th class="ref">ORIGEM</th>
                    <th class="ref">DESTINO</th>
                    <th class="ref">AJUDANTES</th>
                    <th class="ref">CONFERENTES</th>
                </tr>
            </thead>
            <tbody>
                <tr class="painel-table__resultados" *ngFor="let item of usuariosFiltrados">
                    <td>{{ formatarData(item.data) }}</td>
                    <td>{{ formatarHora(item.hora)}}</td>
                    <td>{{ item.cliente }}</td>
                    <td>{{ item.qtd }}</td>
                    <td>{{ item.peso }}</td>
                    <td>{{ item.plCavalo }}</td>
                    <td>{{ item.plCarreta }}</td>
                    <td>{{ item.motorista }}</td>
                    <td>{{ item.origem }}</td>
                    <td>{{ item.destino }}</td>
                    <td>{{ item.ajudantes }}</td>
                    <td>{{ item.conferentes }}</td>
                </tr>
            </tbody>
        </table>
        <section class="Cores">
            <div class="cor">
                <span class="cor-verde"></span>
                <p>Concluído</p>
            </div>
            <div class="cor">
                <span class="cor-vermelho"></span>
                <p>Aguardando Carregamento</p>
            </div>
            <div class="cor">
                <span class="cor-amarelo"></span>
                <p>Em andamento</p>
            </div>
            <div class="cor">
                <span class="cor-roxo"></span>
                <p>Programado</p>
            </div>
        </section>
    </div>
</div>