<div class="_container">
    <!-- enviar-pdf.component.html -->
    <form class="__formulario" [formGroup]="formulario" (ngSubmit)="enviarPDF()">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" formControlName="nome">

        <label for="data">Data:</label>
        <input type="date" id="data" formControlName="data">

        <label for="hora">Hora:</label>
        <input type="time" id="hora" formControlName="hora">

        <label for="status">Status:</label>
        <input type="text" id="status" formControlName="status">

        <label for="imagem">Link da Imagem:</label>
        <input type="text" id="imagem" formControlName="imagem">

        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">

        <button type="submit">Enviar PDF</button>
    </form>

</div>