<div class="modal-body">
  <div class="pdf" #content>
    <div class="header">
      <img src="../../assets/transporthos.png" alt="">
      <h1>DOSSIÊ OPERACIONAL - TRANSPORTE</h1>
    </div>


    <div class="corpo_preenchi">
      <div class="line_1" *ngIf="isEdit">
        <span><strong>REF. TRANSPORTHOS</strong>:
          _________________________________________________________________________________</span>
        <span><strong>CTE/NFE
            NR:</strong>__________________________________________________________________________________________</span>
        <span><strong>REF. CLIENTE</strong>: </span>
        <span><strong>NOME DO CLIENTE:</strong> {{cliente}}</span>
        <span><strong>CNPJ</strong>: {{cnpj}} </span>
        <span><strong>CONTRATANTE/PAGADOR DO FRETE:</strong>
          ___________________________________________________________________</span>
        <span><strong>DOC. TRANSPORTE</strong> (DI/NF/DTA/DTC/DAT): {{di}}</span>
        <span><strong>LOCAL DE COLETA</strong>: {{origem}}</span>
        <span><strong>REMETENTE/CLIENTE:</strong> </span>
        <span><strong>LOCAL DE ENTREGA:</strong> {{destino}}</span>
        <span><strong>DESTINATÁRIO:</strong>
          ______________________________________________________________________________________</span>
        <span><strong>PRODUTO:</strong>___________________________________________________________________________________________</span>
        <span><strong>PESO:</strong>_______________________________________________________________________________________________</span>
        <span><strong>VALOR CIF. US$ / R$:</strong>
          __________________________________________________________________________________</span>

      </div>
    </div>
    <div class="segunda_parte">
      <div class="titulo">
        <h1>ACOMPANHAMENTO OPERACIONAL</h1>
      </div>
      <div class="colunas">

        <div class="pt2_colun">
          <strong>AGENDAMENTO</strong>
          <span>{{data}}</span>
        </div>
        <div class="pt2_colun">
          <strong>DTA/DI/DTC</strong>
          <span>{{di}}</span>
        </div>
        <div class="pt2_colun">
          <strong>CONTAINERS</strong>
          <span>{{tipo_de_carga}}</span>
        </div>
        <div class="pt2_colun">
          <strong>MOTORISTA</strong>
          <span id="motorista">{{motorista}}</span>
        </div>
      </div>
      <div class="titulo2">
        <h5>DADOS PARA FAURAMENT</h5>
      </div>
      <div class="colunas ultima">
        <div class="line_1">
          <span><strong>FRETE R$ POR
              VEICULO:</strong>_______________________________________________________________________________</span>
          <span><strong>SEGURO R$
            </strong>:(_____%)__________________________________________________________________________________</span>
          <span><strong>IMPOSTOS R$:</strong> (______%)
            _______________________________________________________________________________</span>
          <span><strong>PRAZO PARA PAGAMENTO</strong>:
            _____________________________________________________________________________</span>
          <span><strong>QUANTIDADE - AJUDANTE</strong> ( {{qtd}} ) : {{ajudantes}}</span>
          <span><strong>OUTROS VALORES R$</strong>:
            _________________________________________________________________________________</span>
          <span><strong>ENVIAR E-MAIL DE FATURAMENTO
              PARA</strong>:_________________________________________________________________</span>


        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button class="close" (click)="closeModal()">Fechar</button>
    <button class="donwload" (click)="salvarPdf()">Baixar</button>
  </div>
</div>