._container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__imagem {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__imagem img {
    align-items: center;
    width: 50%;
}

.__rodape h1 {
    color: black;
    align-items: center;
}