*{
  color: #000;
}
body {
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home__container {
  margin: 10px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-container {
  background-color: #fff;
  height: 224px;
  width: 1104px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.popup-container h2 {
  color: black;
}
.popup-container label {
  font-size: 16px;
  margin-left: 7px;
  color: black;
}

.popup-container button {
  color: black;
}

.popup-container input {
  margin: 10px;
}
/* Comecando style */
#titulo-dados{
  font-size: 20px;
  color: gray;
  font-weight: 200;
}

.form-group label{
  font-size: 12px;
}
.text-danger{
  font-size: 14px;
}
.dados-follow{
  margin-top: 20px;
  width: 100%;
}
.up-img{
  width: 100%;
  height: 30px;
  background-color: rgb(160, 160, 160);
  border-radius: 5px;
  margin-top: 23px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.btn-enviar{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}
.pdf{
  background-color: green;
  border: none;
}


@media (max-width: 576px) {

  .popup-container h2 {
      color: black;
      font-size: 27px;
      margin-bottom: 30px;
      margin-top: -60px;
  }

  .popup-container {
      height: 1443px;
      width: 279px;
  }

  .home__container {
      margin: 0px;
      height: 1541px;
  }


  .popup-container label {
      font-size: 23px;
      margin-left: 17px;
  }

  .popup-container input {
      font-size: 20px;
  }

  .popup-container button {
      margin-left: 107px;
      margin-top: 14px;
      font-size: 20px;
  }


  /* Suas regras de estilo para dispositivos móveis aqui */

}
