*{
    color: black;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {

    margin-top: 10px;

}

.image {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.image img {
    width: 10%;
}

.login{
    display: flex;
    flex-direction: column;
}

.login > input{
    width: 50vh;
    height: 5vh;
    outline: none;
    border: 1px solid black;
    padding-left: 5px;
}

.content {
    margin-top: 20px;
    
}

.content a {
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 768px) {

    /* Suas regras de estilo para dispositivos móveis aqui */
    .title h1 {
        font-size: 21px;
        text-align: center;
    }
}