


.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #969EFA, #2537FD);
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-login{
    background-color: #fff;
    height: 40%;
    width: 50vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    padding-bottom: 2em;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100px;
}

h1{
    color: black;
    font-size: 25px;
}

label{
    color: black;
}

.login{
    display: flex;
    flex-direction: column;
}

.paddin{
    margin-top: 10px;
}

.login > input{
    width: 30vh;
    height: 5vh;
    outline: none;
    border: 1px solid black;
    padding-left: 5px;
    border-radius: 7px;
    background-color: aliceblue;
    color: black;
}

.content {
    margin-top: 20px;
    color: black;
    background-color: #3800AC;
    padding: 10px 25px;
    border-radius: 50px;
  
}

.content a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
   
}

@media (max-width: 900px) {

    /* Suas regras de estilo para dispositivos móveis aqui */
    .title h1 {
        font-size: 21px;
        text-align: center;
    }

    .container-login{
        height: 40%;
        width: 40vh;
    }
}

@media (max-width: 568px) {

    /* Suas regras de estilo para dispositivos móveis aqui */
    .title h1 {
        font-size: 21px;
        text-align: center;
    }

    .container-login{
        width: 38vh;
    }
}