<div class="home__container">
    <div class="container">
        <div class="container-login">
            <div class="title">
                <h1>PAINEL TRANSPORTHOS</h1>
            </div>
            <div class="login">
                <label for="user">Usuário</label>
                <input type="text" name="user" id="user" [(ngModel)]="username">
            </div>

            <div class="login">
                <label class="paddin" for="pass">Senha</label>
                <input type="password" name="pass" id="pass" [(ngModel)]="password">
            </div>

            <div class="content">
                <button (click)="login()">ENTRAR</button>
            </div>
        </div>
    </div>
</div>