<div class="home__container">
    <div class="container">
        <div class="container-login">
            <div class="title">
                <h1>PAINEL TRANSPORTHOS</h1>
            </div>
            <!-- <div class="image">
                <img src="https://media.istockphoto.com/id/1449029583/pt/vetorial/truck-logo-design-vector-truck-delivery-logo.jpg?s=612x612&w=0&k=20&c=7fweK3ZViTgJ5Zx8IuPxG2fhaJfcEnKeUiKGB1r1sqc="
                    alt="" srcset="">
            </div> -->
            <div class="login">
                <label for="user">Usuário</label>
                <input type="text" name="user" id="user" [(ngModel)]="username">
            </div>

            <div class="login">
                <label class="paddin" for="pass">Senha</label>
                <input type="password" name="pass" id="pass" [(ngModel)]="password">
            </div>

            <div class="content">
                <button (click)="login()">ENTRAR</button>
                <p class="error">{{ error }}</p>
            </div>
        </div>

    </div>

</div>